* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 22px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 0;
  background-color: white;
}

.nav__h1 {
  font-size: 3rem;
  margin-bottom: 0rem;
}

.nav__h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: lighter;
}

.body {
  padding: 1rem 4rem;
}

.home {
  padding: 3rem 6rem;
}

.home__h1 {
  margin-bottom: 1rem;
}

.home__ul {
  padding: 0 1rem;
  padding-bottom: 2rem;
  border-left: 2px solid hsl(195deg, 85%, 41%);
}

.home__li {
  list-style: none;
  border-bottom: 2px solid;
  padding: 0.5rem;
}
.home__li:hover {
  border-bottom: 2px solid hsl(195deg, 85%, 41%);
  background-color: rgba(31, 140, 173, 0.353);
  color: white;
}

.home__link:hover {
  text-decoration: none;
}

.table__container {
  max-width: 100%;
  margin-bottom: 0;
  overflow: auto;
}

.add__btn {
  width: 100%;
}

.outlet {
  margin-top: 3rem;
}

.table__btn {
  padding: 0.2rem 0.2rem;
  border-radius: 0;
}

.delete__btn {
  background-color: red;
  color: white;
}

.add__btn {
  background-color: green;
  color: white;
}

#table__input {
  padding: 0rem 0rem;
  font-size: 0.7rem;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

#table__input:disabled {
  background-color: white;
  color: black;
  opacity: 100%;
}

.table__head th {
  text-align: left;
  font-size: 0.9rem;
  font-weight: bold;
  padding-left: 5px;
  background-color: hsla(194, 70%, 40%, 0.536);
  color: #fff;
  border-right: 2px solid hsl(195deg, 85%, 41%);
  border-bottom: 2px solid hsl(195deg, 85%, 41%);
}

.table__head th:first-child,
#table__body td:first-child {
  border-left: 2px solid hsl(195deg, 85%, 41%);
}

.table__head:first-child {
  width: min-content;
}

#table__body tr {
  line-height: 1rem;
}

#table__body tr:last-child {
  border-bottom: 2px solid hsl(195deg, 85%, 41%);
}

#table__body td {
  padding: 0 0;
  padding-left: 5px;
  line-height: 12px;
  border-right: 2px solid hsl(195deg, 85%, 41%);
  border-bottom: 1px solid hsl(195deg, 85%, 41%);
}

#table__body td:has(button) {
  padding: 0 0;
  border-right: 0;
}

#table__body tr td:first-child input {
  width: 2rem;
}

.posts .body #table__input {
  width: 44rem;
}
.comments .body #table__input {
  width: 36rem;
}

.posts .title #table__input {
  width: 10rem;
}
.comments .name #table__input,
.comments .email #table__input {
  width: 8rem;
}

.id #table__input,
.postId #table__input {
  width: 2rem;
}

.table__head:first-child {
  width: 1rem;
}

.table__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table__footer button {
  display: inline;
  width: -moz-fit-content;
  width: fit-content;
}

.table__footer span {
  padding: 0.5rem 1rem;
}

.table__footer__paginated {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.table__footer__paginated button {
  display: inline;
  width: -moz-fit-content;
  width: fit-content;
}

.table__footer__paginated:has(a) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.none {
  display: none;
}

.fade {
  max-width: 100%;
  overflow-y: auto;
  opacity: 50%;
}

.nav__btn__container {
  display: flex;
  flex-direction: row;
}

.nav__btn__container a {
  margin-right: 0.5rem;
}

.plus__btn {
  padding: 0.75rem 1rem;
  font-size: 1.5rem;
}

.error__element {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error__element p {
  padding: 2rem 2rem;
  border: 3px solid hsl(195deg, 85%, 41%);
}

.error__element a {
  font-size: 1.3rem;
}

.error__element p {
  font-size: 1.2rem;
}
