:root {
  --DARK: #014f86;
  --MIDDLE: #0b8dc4;
  --MIDDLE-SUB: #45c4fb;
  --LIGHT: #b4e0ee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 22px;
  min-height: 100vh;
  font-family: "Roboto", "Oxygen", "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a {
  background-color: var(--MIDDLE);
  color: var(--LIGHT);
  flex-grow: 1;
  height: 3.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

nav a:first-child {
  border-right: 2px solid var(--DARK);
}

nav a:hover {
  background-color: var(--LIGHT);
  color: var(--DARK);
  text-decoration: underline;
}

nav a:focus {
  background-color: var(--DARK);
  color: var(--LIGHT);
}

form {
  width: 100%;
  position: fixed;
  margin-bottom: 20px;
}

button {
  background-color: var(--MIDDLE-SUB);
  color: var(--DARK);
  border: none;
  border: 2px solid var(--DARK);
  width: 33.33%;
  padding: 0.5rem;
  font-size: 1rem;
}

button:first-child {
  border-right: none;
}

button:last-child {
  border-left: none;
}

button:hover {
  background-color: var(--LIGHT);
  color: var(--DARK);
  text-decoration: underline;
}

button:focus {
  background-color: var(--DARK);
  color: var(--LIGHT);
}

ul {
  padding: 3rem 2rem 1rem;
  /* margin-top: 1rem;
  padding: 0 2rem 1rem; */
}

li {
  margin-bottom: 1rem;
  color: var(--DARK);
}

.table_container {
  width: 100%;
  overflow-y: auto;
  padding-top: 38px;
}

td {
  padding: 1rem;
  border: 2px solid var(--DARK);
  color: var(--DARK);
}
